version: 2

jobs:
  build:
    docker:
      - image: "adoptopenjdk/openjdk11:jdk-11.28"

    working_directory: ~/pixela-java-client

    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "build.gradle" }}
            - v1-dependencies-

      - run: ./gradlew dependencies

      - run:
          name: run quality check
          command: ./gradlew qualityCheck

      - save_cache:
          paths:
            - ~/.gradle
          key: v1-dependencies-{{ checksum "build.gradle" }}

      - run:
          name: Save test results
          command: |
            mkdir -p ~/junit/
            find . -type f -regex ".*/build/test-results/.*xml" -exec cp {} ~/junit/ \;
          when: always

      - store_test_results:
          path: ~/junit

      - store_artifacts:
          path: ~/junit

      - store_artifacts:
          path: ./build/reports/tests/test

      - run:
          name: send coverage json to coveralls
          command: curl -i -F json_file=@build/jacoco/coveralls.json https://coveralls.io/api/v1/jobs

      - store_artifacts:
          path: ./build/jacoco/coveralls.json

      - store_artifacts:
          path: ./build/jacoco/report-html
